./venv
/venv
/venv/*
.vscode
*.pyc
__pycache__
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
*.egg
*.coverage
*.mypy_cache
*.pytest_cache
*.pkl
*.pkl.gz
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.swp

training_wheels/.env